[package]
name = "us-taxes"
version = "0.1.16"
description = "UsTaxes is an open source webapp for filing US federal income tax. All tax calculations are performed in the browser, so no personal information is stored on external servers!"
license = ""
repository = ""
default-run = "us-taxes"
edition = "2018"
build = "src/build.rs"

[build-dependencies]
tauri-build = { version = "1.0.0-rc.0" }

[dependencies]
serde_json = "1.0.79"
serde = { version = "1.0.136", features = [ "derive" ] }
tauri = { version = "1.0.0-rc.0", features = ["api-all"] }

[features]
custom-protocol = [ "tauri/custom-protocol" ]
default = [ "custom-protocol" ]

[[bin]]
name = "us-taxes"
path = "src/main.rs"
