[submodule "ustaxes-forms/Y2020"]
	path = ustaxes-forms/Y2020
	url = https://github.com/zakpatterson/ustaxes-forms.git
	branch = refactor-abstract-core
[submodule "ustaxes-forms/Y2021"]
	path = ustaxes-forms/Y2021
	url = https://github.com/zakpatterson/ustaxes-forms.git
	branch = refactor-abstract-core-2021
[submodule "ustaxes-core"]
	path = ustaxes-core
	url = https://github.com/ustaxes/ustaxes-core
	branch = main
