body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
form {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: white;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  min-width: 20%;
}
