# Contains unit test, lint, dependabot automerge logic
name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  pull-requests: write
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['16']

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    # installs dependencies
    - run: npm ci
      # lint
    # - name: Run ESLint
    #   run: npm run lint
    - name: Ensure project builds
      run: npm run build
      # run tests
    # - name: Run jest unit tests
    #   run: npm run test:report
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v2
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
    #     directory: ./coverage
    #     verbose: true
    - name: Install netlify cli
      run: npm install netlify-cli
    - name: Deploy to Netlify
      run: npx netlify deploy --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --site  ${{ secrets.NETLIFY_APP_ID }} --dir "./build" --message "Deployed from github" --alias $(git rev-parse --short "$GITHUB_SHA")

    # Creates a status check with link to preview
    - name: Status check
      uses: Sibz/github-status-action@v1.1.1
      with:
        authToken: ${{ secrets.GITHUB_TOKEN }}
        context: Netlify preview
        state: success
        target_url: https://$(git rev-parse --short "$GITHUB_SHA")--ustaxes.netlify.app


  dependabot-auto-merge:
    needs: [test]
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        if: ${{(steps.metadata.outputs.update-type == 'version-update:semver-patch' || steps.metadata.outputs.update-type ==  'version-update:semver-minor')}}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
