name: "publish"
on: [push, pull_request]
# push:
#   branches:
#     - release

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v2
    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}_`echo $GITHUB_SHA | cut -c -6`
      shell: bash
    - name: install Rust stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
    - name: install tauri bundler
      run: cargo install tauri-bundler --force
    - name: install webkit2gtk (ubuntu only)
      if: matrix.platform == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y webkit2gtk-4.0
    - name: install app dependencies and build it
    # If using the Vue CLI plugin, tauri:build will be run automatically by tauri-action
    # and you can remove `&& yarn build` from this command
      run: npm install --no-optional && npm run desktop-release
    - uses: loloof64/tauri-action@marketplace_2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tagName: app-v${{ steps.get_version.outputs.VERSION }}
        releaseName: App v${{ steps.get_version.outputs.VERSION }}
        body: "See the assets to download this version and install."
        draft: true
        prerelease: false